asgiref==3.4.1
Django==4.0.1
django-bona-blog==1.1.4
django-ckeditor==6.2.0
django-crispy-forms==1.13.0
django-filter==21.1
django-froala-editor==4.0.8
django-js-asset==1.2.2
django-sendgrid-v5==1.2.0
django-taggit==2.0.0
djangorestframework==3.13.1
Pillow==9.0.0
python-decouple==3.5
python-http-client==3.3.5
pytz==2021.3
sendgrid==6.9.4
sendgrid-django==4.2.0
six==1.16.0
sqlparse==0.4.2
starkbank-ecdsa==2.0.3
tzdata==2021.5
